/* NavBar Item Containers */

.NavBarDesktopContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    z-index: 2;
}


.NavItemLogoContainer{
    position: absolute;
    display: flex;
    margin-right: 100px;
    left: 15%;
}

.LinkContainer{
    position: absolute;
    display: flex;
    flex-direction: row;
    transform: translateY(25%);
    justify-content: space-between;
    gap: 3rem;
    left: 30%;
}

.NavBarDesktopLinks{
    text-decoration: none;
    color: black;
}

.NavItemShoppingContainer{
    position: absolute;
    display: flex;
    left: 75%;
    transform: translateY(25%);
}

.NavItemProfileIconContainer{
    position: absolute;
    display: flex;
    left: 80%;
    transform: translateY(25%);
    height: 50%;
    width: auto;
}


.NavBarItemTextDeskop {
    text-decoration: none;
    color: black;
}


.NavDesktopHR{
    width: 70%;
    height: 2px;
    background-color: grey;
    border: none;
    position: absolute;
    top: 80%;
}





/* Appear Disappear Functionality */
.ShoppingCartMenuShow {
    position: absolute;
    display: flex;
    visibility: visible;
    top: 70px;
    transform: translateX(-85%);
 }

 .ShoppingCartHidden {
    position: absolute;
    visibility: hidden;
    display: none;
}

.ProfileIconMobile {
    position: absolute;
    height: 40px;
    width: 50px;
    display: flex;
    left: 70%;
}



/* Item Quantity */
.ItemQuantity{
    color: #fff;
    font-size: 0.6rem;
    background-color: orange;
    border-radius: 10px;
    width: 50%;
    position: absolute;
    top: 0%;
    left: 70%;
}


/* ShoppingCartMenu */
.ShoppingCartMenuBox {
    position: relative;
    width: 400px;
    height: 100%;
    background-color: #fff;
    border-radius: 15px;
    flex-direction: column;
    left: 40%;
}
.ShoppingCartMenuTitle {
    position: relative;
    display: flex;
    left: 5%;
    top: 15px;
    width: 50%;
}
.CartHR {
    position: relative;
    display: flex;
    width: 100%;
    height: 1px;
    border: 5px, 0, 0, 0,;
    background-color: grey;
    border-style: none;
    opacity: 20%;
}
.ShoppingCartMenuCart{
    position: relative;
    display: flex;
    justify-content: center;
    top: 20%;
    opacity: 100%;
    height: 100%;
}
.ShoppingCartNoItems{
    position: relative;
    display: flex;
    height: 200px;
    align-items: center;
}





































